.aboutMeContainer {
    position: absolute;
    top: 10vh;
    left: 5vw;
    max-width: 50%;
     /* Semi-transparent black background for text */
}

/* .aboutMeWrapper {
    display: flex;
    justify-content: center;
} */

.aboutMe {
    /* font-size: 100px; */
    text-align: center;
    margin-bottom: .5em;
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.764);
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60%;
    padding-top: .1em;
    padding-bottom: .1em;
    font-size: 70px;
    text-transform: uppercase;
}

.aboutMeText {
    font-size: 20px;
    /* font-size: 25px; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* height: 65vh; */
    padding: 30px;
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: 1em;
    border-radius: 5px;
}
