.aboutMeContainer {
    position: absolute;
    top: calc(5vh + 20px);
    left: 5vw;
    max-width: 50vw;
    max-height: 50vh;
     /* Semi-transparent black background for text */
}

/* .aboutMeWrapper {
    display: flex;
    justify-content: center;
} */

.aboutMe {
    /* font-size: 100px; */
    text-align: center;
    /* margin-bottom: .5em; */
    color: white; /* Text color */
    /* background-color: rgba(0, 0, 0, 0.764); */
    /* border-radius: 5px; */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* width: 60%; */
    /* padding-top: .1em; */
    /* padding-bottom: .1em; */
    font-size: 70px;
    text-transform: uppercase;
    margin-top: .5em;
}

.aboutMeText {
    /* font-size: clamp(10px, 0.3043rem + 3.4783vw, 20px); */
    font-size: 1.2em;
    /* font-size: 25px; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* height: 65vh; */
    padding: 30px;
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.764);
    margin-bottom: 1em;
    border-radius: 5px;
}

@media screen and (max-height: 670px) {
    .aboutMeContainer {
        top: calc(1vh + 0px); /* Adjust as needed */
    }
}

@media screen and (max-height: 595px) {
    .aboutMeContainer {
        max-height: 30vh;
    }

    .aboutMeText {
        font-size: .9em;
    }
} 
@media screen and (max-width: 1330px) {
    .aboutMeContainer {
        max-height: 30vh;
    }

    .aboutMeText {
        font-size: 1em;
    }
} 