.heading {
    top: 60vh;
    left: 10vw;
    position: absolute;
}

.name {
    /* font-size: 100px; */
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
}

.job {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.headshotcontainer {
    position: absolute;
    top: 8vh; /* Adjust the top position as needed */
    right: 5vw; /* Adjust the right position as needed */
    width: 400px;
}

/* .headshot {
    width: 30px;
    height: auto;
} */

/* Mobile Styles */
@media (max-width: 767px) {
    /* .headshotcontainer img{ */
        /* display: flex;
        justify-content: center; */
        /* width: 100%; */
        /* margin: 0 auto; */
    /* } */

    /* .heading {
        position: absolute;
        bottom: 10px;
    }

    .name {
        font-size: 50px;

    }

    .job {
        font-size: 30px; 
    }

    .headshotcontainer {
        display: flex;
        justify-items: center;
        width: 20rem; 
    } */
}


