.heading {
    top: 60vh;
    left: 10vw;
    position: absolute;
}

.name {
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
}

.job {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.headshotcontainer {
    position: absolute;
    top: 8vh; /* Adjust the top position as needed */
    right: 5vw; /* Adjust the right position as needed */
    width: 400px;
}

/* .headshot {
    width: 30px;
    height: auto;
} */

/* Mobile Styles */
@media (max-width: 767px) {
    .heading {
        position: absolute;
        bottom: 10px;
        /* text-align: center; */
    }

    .name {
        font-size: 50px; /* Adjust font size for mobile */

        /* margin-top: 10px;
        margin-bottom: 10px;  */
    }

    .job {
        font-size: 30px; /* Adjust font size for mobile */
        /* margin-bottom: 20px; */
    }

    .headshotcontainer {
        position: absolute;
        width: 20em; /* Make the image full width on mobile */
        right: 12vw;
        /* left: 5vw; */
    }
}


