.skillsSectionWrapper {
    color: white;
    text-align: center;
}

.skillsTitle {
    margin-top: .5em;
    margin-bottom: .5em;

    font-size: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.programmingSkills {
    margin-top: 5vh;
    font-size: 60px;
}

.languages, .frameworks {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 3vh;
    margin-top: 3.5vh;
    /* text-decoration: underline; */
}

.languageList, .frameworkList, .toolsList {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;

}

.languageItem, .frameworkItem, .toolItem {
    margin-bottom: 1vh;
}

/* font-family: "Fauna One", serif;
font-weight: 400;
font-style: normal; */