.skillsSectionWrapper {
    color: white;
    text-align: center;
}

.programmingSkills {
    margin-top: 5vh;
    font-size: 60px;
}

.languages, .frameworks {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 3vh;
    margin-top: 3.5vh;
    /* text-decoration: underline; */
}

.languageList, .frameworkList {
    font-size: 20px;
    font-family: "Fauna One", serif;
    font-weight: 400;
    font-style: normal;
}

.languageItem, .frameworkItem {
    margin-bottom: 1vh;
}

/* font-family: "Fauna One", serif;
font-weight: 400;
font-style: normal; */